{% extends 'base.html.twig' %}

{% block title %}Dokumenty CK VŠPJ{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        main {
            padding-top: 76px;
        }

        .containerA {
            background-color: #ebeced;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding-top: 0;
            padding-bottom: 0;
        }

        .mt-5.border {
            border: 2px solid #007bff; /* Custom border color and width */
            background-color: #f8f9fa;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }

    </style>
{% endblock %}

{% block main %}
    <!-- Hero Section with Background Image and Text -->
    <section class="hero py-5" style="background-image: url('{{ asset('images/default.png') }}'); background-size: cover; background-position: center;">
        <div class="hero-content">
            <h1 class="display-4">Dokumenty</h1>
            <p class="lead">Zde naleznete veškeré důležité dokumenty k cestovní kanceláři VŠPJ</p>
        </div>
    </section>

    <main class="container containerA my-5">
        <div class="container">
            <section class="dokuments py-1">

                <div class="mt-5 border p-4 rounded">
                    <h3>Ke stažení</h3>
                    <hr>
                    <ul class="list-group"  >
                        {% for dokument in dokuments %}
                            <li class="list-group-item">
                                <a href="{{ asset('uploads/dokuments/' ~ dokument.file) }}" download>
                                    <i class="fa fa-file"></i> {{ dokument.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="mt-5">
                    <p><a href="https://www.vspj.cz/cs/skola/ochrana-osobnich-udaju-gdpr-" class="btn btn-link">GDPR Vysoké školy polytechnické Jihlava</a></p>

                    <p>V případě, že dojde mezi námi a spotřebitelem ke vzniku spotřebitelského sporu z kupní smlouvy nebo ze smlouvy o poskytování služeb, který se nepodaří vyřešit vzájemnou dohodou, může spotřebitel podat návrh na mimosoudní řešení takového sporu určenému subjektu mimosoudního řešení spotřebitelských sporů, kterým je</p>
                    <strong>Česká obchodní inspekce</strong><br>
                    Ústřední inspektorát – oddělení ADR<br>
                    Gorazdova 1969/24<br>
                    120 00 Praha 2<br>
                    <br>
                    Email: <a href="mailto:adr@coi.cz">adr@coi.cz</a><br>
                    Web: <a href="http://adr.coi.cz">adr.coi.cz</a>
                </div>

            </section>
        </div>
    </main>
{% endblock %}
